*
{
    margin: 0;
    padding: 0;
    border: 0;
}

html, body
{
    background: black;
    color: white;
    font-family: 'VT323', monospace;
    font-size: 24px;
    height: 100%;
    display: flex;
    flex-flow: column;
}

#loading
{
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
}

#container
{
    height: 100%;
}

header, footer
{
    flex: 0 1 auto;
}

main
{
    flex: 1 1 auto;
}

header h1
{
    text-align: center;
    font-size: 24px;
}

nav>ul>li
{
    display: inline-block;
}

nav ul>li, nav label
{
    background: lime;
    color: black;
    padding: 0 1ch;
}

nav>ul>li>ul
{
    display: none;
    z-index: 1;
    position: absolute;
    margin: 0 -1ch;
}

nav>ul>li:hover>ul
{
    display: block;
}

nav>ul>li>ul>li
{
    display: block;
    min-width: 200px;
    background: gray;
}

nav>ul>li>ul>li:hover
{
    background: lime;
}

#tabs input[type="radio"]
{
    display: none;
}

#tabs label
{
    background: gray;
}

#tabs input[type="radio"]:checked + label
{
    background: lime;
}

nav a
{
    text-decoration: none;
    color: inherit;
    cursor: inherit;
    display: block;
}

section
{
    display: none;
    overflow: auto;
    position: relative;
}

.dialog
{
    display: none;
    position: absolute;
    z-index: 2;
    background: gray;
    width: 40%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.dialog h2
{
    text-align: center;
    font-size: inherit;
    background: lime;
    color: black;
}

.dialog p
{
    margin: 1em 1ch;
}

.dialog button
{
    display: block;
    font: inherit;
    padding: 0 2ch;
    text-align: center;
    background: lime;
    color: black;
}

.center
{
    text-align: center;
}

#welcome
{
    display: block;
}

section, .editor, .basic_out
{
    height: 100%;
}

.basic_out
{
    image-rendering: pixelated;
    width: 100%;
    position: absolute;
}